<% @page_title = "User | Signup" %>
	<div class="Sign_Form">
	  <h1>Sign Up</h1>
	  <hr>
	  <%= form_for(@user) do |f| %>
	  	<p> First Name:</br> <%= f.text_field :first_name%>
	  	<p> Last Name:</br> <%= f.text_field :last_name%>
	  	<p> Email Address:</br> <%= f.text_field :email%> </p>
	    <p> Username:</br> <%= f.text_field :username%> </p>
	    <p> Password:</br> <%= f.password_field :password%></p>
	    <p> Password Confirmation:</br> <%= f.password_field :password_confirmation %> </p>
	    <%= f.submit 'Sign Up'%>
	  <% end %>
	  <% if @user.errors.any? %>
	  <span class="Signup_Errors">
		    <% for message_error in @user.errors.full_messages %>
		    <label>*<%= message_error %></label>
		    <% end %>
	    </span>
	  <% end %>
	</div>